@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	/* background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%); */
	background: linear-gradient(to top, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background-repeat: no-repeat;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


h1 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #07374a;
}

p {
  font-family: "Quattrocento", sans-serif;
  color: black;
  text-align: justify;
  font-weight: bold;
}

.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
  padding-top: 10%;
  height: auto;

}

.profile {
  width: 80%;
  height: auto;
  border-width: medium;
  border-style: inherit;
  border-color: black;
}


.img {

  border-radius: 10%;
  margin-bottom: 20px;
  width: 120px;
 }

.navbar {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  background-color:	transparent;
  width: 95%;
  left:10px;
  top:0;
  font-weight: bold;
}

.navbar li.logo,
.navbar li.navbar_items {
  list-style-type: none;
  display: inline-block;
}

.navbar li a {
  font-family: Quicksand;
  font-size: 1.05em;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar li.navbar_items a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
}

.navbar li.icon {
  display: none;
}

.div_navbar_items {
  float: right;
  padding-right:1%;
}

/* Introduction Styles
/* -------------------------------------*/
#aboutme {
  text-align: center;
  height: 100%;

}


/* skills Styles
/* -------------------------------------*/
#skills {
  text-align: center;
  height: 100%;
  background-color: aqua;
}


#contact img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contact a {
    text-decoration: none;
}
#contact img:hover {
    opacity: 0.8;
}

#contact p{
  text-align: center;
}

#contact {
    text-align: center;
    height: 80%;
    background-color: #25b79f;
}
