@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	/* background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%); */
	background: linear-gradient(to top, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background-repeat: no-repeat;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
 padding:0;
	box-sizing: border-box;
}

h1 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: bold;
	color: #07374a;
}

p {
  font-family: "Quattrocento", sans-serif;
  color: black;
  text-align: justify;
  font-weight: bold;
}

.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
  padding-top: 7%;
	padding-bottom: 5%;
  height: auto;


}

.profile {
  width: 80%;
  height: auto;
  border-width: medium;
  border-style: inherit;
  border-color: black;
}


.img {

  border-radius: 10%;
  margin-bottom: 20px;
  width: 120px;
 }

.navbar {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
  background-color:	transparent;
  width: 95%;
  left:10px;
  top:0;
  font-weight: bold;
}

.navbar li.logo,
.navbar li.navbar_items {
  list-style-type: none;
  display: inline-block;
}

.navbar li a {
  font-family: Quicksand;
  font-size: 1.05em;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar li.logo {
  font-family: Quicksand;
  font-size: 1.05em;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar li.navbar_items a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
}

.navbar li.icon {
  display: none;
}

.div_navbar_items {
  float: right;
  padding-right:1%;
}

/* Introduction Styles
/* -------------------------------------*/
#aboutme {
  text-align: center;
  height: 100%;

}

#aboutme .content_about {
	background-color: white;
	width: auto;
	height: auto;
	border-radius: 10px;
	border-width: 5px;
	border-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);

}


/* skills Styles
/* -------------------------------------*/
#skills {
  text-align: center;
  height: auto;
  background-color: aqua;
	padding-bottom: 10px;
}


#skills .content_skill {
	background-color: white;
	width: auto;
	height: auto;
	border-radius: 10px;
	border-width: 5px;
	border-color: black;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

progress:not(value) {

}

progress[value] {

	appearance: none;
	border: none;
	width: 100%; height: 20px;
	  background-color: whiteSmoke;
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	color: royalblue;
	position: relative;
	margin: 0 0 1.5em;
}

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
}

progress[value]::-webkit-progress-value:after {
	content: '';
	position: absolute;
	width:5px; height:5px;
	top:7px; right:7px;
	background-color: white;
	border-radius: 100%;
}


progress[value]::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;

}

.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;

	display: block;
	text-indent: -9999px;
}

p[data-value] {

  position: relative;
}

p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}



.html5::-webkit-progress-value,
.asp::-webkit-progress-value  {

	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}


.css3::-webkit-progress-value,
.php::-webkit-progress-value
{
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}


.javascript::-webkit-progress-value,
.node-js::-webkit-progress-value
{

	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}




#contact img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contact a {
    text-decoration: none;
}
#contact img:hover {
    opacity: 0.8;
}

#contact p{
  text-align: center;
}

#contact {
    text-align: center;
    height: 80%;
    background-color: #25b79f;
}
